<style>
    @font-face {
        font-family: 'Inter Light';
        src: url({{ "fonts/Inter/Inter-Light.woff" | absURL }}) format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter SemiBold';
        src: url({{ "fonts/Inter/Inter-SemiBold.woff" | absURL }}) format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Inter Light Italic';
        src: url({{ "fonts/Inter/Inter-LightItalic.woff" | absURL }}) format('woff');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Inter SemiBold Italic';
        src: url({{ "fonts/Inter/Inter-SemiBoldItalic.woff" | absURL }}) format('woff');
        font-weight: bold;
        font-style: italic;
    }

    body {
        font-family: "Inter Light";
    }

    h1,
    h2 {
        font-family: "Inter SemiBold";
    }
</style>